.navbar-nav > a {
    color: #777777 !important;
    font-size: 14px;
}
.active {
  font-weight: bold;
}
.bg-light {
  border-bottom: 1px solid #e7e7e7;
}
.title-h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.vinotinto {
  color: #790720;
}
.stars > span:before {
   content: "\2605";
   position: absolute;

}
.amarillo {
  color: #FFFF00;
}
.azul {
  color: #053365;
}
.rojo {
  color: #CC1200;
}
.line {
  border-bottom: 2px solid #053365;
  position: relative;
  width: calc(100% - 160px);
  display: inline-block;
  margin-bottom: 4px;
}
.list-group-item:hover {
  color: #ffffff !important;
  background-color: #082636 !important;
}
h4 {
  margin-bottom: 0rem !important;
}
.justify{
  text-align: justify;
}
.form {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 50px 0px;
}
.form label{
  font-weight: bold;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.loading{
  width: 150px;
  margin: 30vh auto;
}

@media only screen and (min-width: 1440px) {
  .line {
    width: calc(100% - 175px);
  }
}
